* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clr {
    clear: both;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
/* --================================================================================
                                header-top start
==================================================================================== */
.header-top{
    background: url(../images/banner.jpg);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 22px;
}
.logo{
    width: 20%;
    float: left;
}
.menu {
    width: 60%;
    float: left;
}

.menu ul{
    text-align: right;
    list-style: none;
    margin-top: 10px;
}
.menu ul li{
    display: inline-block;
    padding-left: 20px;
}
.menu ul li a{
    color: #000;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    transition: .4s;
    position: relative;
}
.menu ul li a:hover{
    color: red;
}
::after, ::before {
    box-sizing: inherit;
}
.menu ul li a::after {
    position: absolute;
    left: 0;
    bottom: -35px;
    content: url(../images/hover-img.png);
    width: 100%;
    height: 100%;
    transition: all linear .3s;
    opacity: 0;
    transition: .4s;
}
.menu ul li a:hover::after {
    opacity: 1;
    bottom: -25px;
}
.login-button{
    display: inline-block;
    width: 20%;
    float: left;
    text-align: right;
    
}
.login-button a{
    background-color: #fff;
    border: 1px solid #d50a51;
    border-radius: 25px;
    color: #d50a51;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: .9s;   
}
.login-button a:hover{
    background: #d50a51;
    color: #fff;
}
/* --================================================================================
                                header-top end
====================================================================================- */


/*  --================================================================================
                                banner start
==================================================================================== */

.banner {
    width: 100%;
    background-image: url(../images/banner.jpg);
    height: 667px;
    padding: 100px 0;
}
.banner .img {
    width: 50%;
    float: left;
}
.banner .text {
    width: 50%;
    float: left;
}
.banner .text h3{
    color: #8a5e3b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
}
.banner .text h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    color: #d50a51;
    text-align: center;
}
.banner .text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 26px;
    padding-bottom: 45px;
}

.banner a{
    background-color: #fff;
    border: 1px solid #d50a51;
    border-radius: 25px;
    color: #d50a51;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-left: 150px;
    cursor: pointer;
    transition: .9s;
}
.banner a:hover{
    background: #d50a51;
    color: #fff;
}
/* --================================================================================
                                banner end
====================================================================================- */



/* --================================================================================
                                about2 start
==================================================================================== */

.about2 {
    padding-bottom: 100px;
    padding-top: 60px;
}
.about2 .img2 {
    width: 50%;
    float: left;
}
.about2 .img2 img{
    width: 90%;
}
.about2 .text2 {
    width: 50%;
    float: left;
    padding-bottom: 100px;
}
.about2 .text2 h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #444;
    font-size: 24px;
    text-transform: capitalize;
}
.about2 .text2 h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: #d50a51;
    padding-bottom: 30px;
}
.about2 .text2 .details1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #444;
}
.about2 .text2 .details2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #444;
    margin-top: 20px;
}
/*--================================================================================
                                about2 end
====================================================================================- */


/* --================================================================================
                                history start
==================================================================================== */
.history {
    width: 100%;
    height: 525px;
    background: #fff6da;
    padding: 60px 0;
}



.history .text3 {
    width: 50%;
    float: left;
}
.history .img3 {
    width: 50%;
    float: left;
    position: relative;
}
.history .img3 img{
    width: 100%;
    height: 660px;
    position: absolute;
    top: -175px;
    left: 0;
}
.history .text3 h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: #444;
}
.history .text3 h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: #d50a51;
    padding-bottom: 30px;
    text-transform: capitalize;
}
.history .text3 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 26px;
}
.history a{
    border: 1px solid #d50a51;
    border-radius: 25px;
    color: #d50a51;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: .9s;
    margin-right: 20px;
    margin-top: 30px;
}
.history a:hover{
    background: #d50a51;
    color: #fff;
}
/* --================================================================================
                                history end
====================================================================================-- */




/* --================================================================================
                               ticket start
====================================================================================-- */


.ticket {
    width: 100%;
    height: 440px;
    padding: 100px 0;
}

.ticket .text4 {
    width: 50%;
    float: left;
}
.ticket .img4 {
    width: 50%;
    float: left;
}
.ticket .img4 img{
    width: 100%;
    height: 100%;
    top: -110px;
}
.ticket .text4 h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: #444;
    text-align: right;
}
.ticket .text4 h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: #d50a51;
    padding-bottom: 30px;
    text-transform: capitalize;
    text-align: right;
}
.ticket .text4 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 26px;
    text-align: right;
}
.ticket a{
    border: 1px solid #d50a51;
    border-radius: 25px;
    color: #d50a51;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: .9s;
    margin-left: 20px;
    margin-top: 30px;
}
.ticket a:hover{
    background: #d50a51;
    color: #fff;
}
.button4 {
    text-align: right;
}

/*-================================================================================
                               ticket end
==================================================================================== */






/* --================================================================================
                                offer start
=================================================================================== */
.offer {
    width: 100%;
    background: #fef7fa;
    margin-top: 100px;
    padding: 55px 0;
}
.offer .offer-flex {
    display: flex;
    justify-content: space-between;
}
.offer .text-area{
    width: 30%;
}
.offer .text-area h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #444;
    font-size: 24px;
    text-transform: capitalize;
}
.offer .text-area h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: #d50a51;
    padding-bottom: 30px;
    text-transform: capitalize;
}
.offer .text-area .details1 {
    width: 350px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    line-height: 26px;  
}
.offer .text-area .details2 {
    width: 350px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    line-height: 26px;
    margin-top: 20px;
}

.offer .offer-area{
    width: 60%;
}
.offer .offer-area .offer-left{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
}
.offer .offer-area .offer-right {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.offer .offer-area .offer1 {
    padding: 20px;
    border-right: 3px solid transparent;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0);
    transition: .4s;
}
.offer .offer-area .offer1:hover {
    border-right: 3px solid red;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.33);
}
.offer .offer-area .offer1 .offer-details {
    width: 290px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    line-height: 24px;
    padding-top: 20px;
    margin-bottom: 0;
}
.service-name span {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5px;
    margin-left: 20px;
    color: #d50a51;
    text-transform: capitalize;
}

/*--================================================================================
                                offer end
==================================================================================== */

/*==============================================================================================================
                                                captures start
================================================================================================================*/

#captures {
    padding-top: 90px;
    padding-bottom: 60px;
}
#captures .captures-flex{
    display: flex;
    justify-content: space-between;
}
#captures .img-area {
    width: 65%;
}
#captures .img-area .img-up {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
#captures .img-area .img-down {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#captures .img-area .img{
    width: 355px;
    height: 400px;
    position: relative;
}
#captures .img-area .img img {
    width: 100%;
    height: 100%;
}
#captures .img-area .img .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: .4s;
}
#captures .img-area .img:hover .overlay {
    transform: scale(1);
}
#captures .img-area .img .overlay .icon {
    width: 60px;
    height: 400px;
    position: absolute;
    top: 20px;
    right: 20px;
}
#captures .img-area .img .overlay .icon a {
    margin: 20px;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .4s;
}
#captures .img-area .img .overlay .icon a:hover {
    background: #d50a51;
    border: 1px solid #d50a51;
}
#captures .img-area .img .overlay .text-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
}
#captures .img-area .img .overlay .text-area h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
#captures .img-area .img .overlay .text-area ul {
    list-style: none;
}
#captures .img-area .img .overlay .text-area ul li{
    color: #fff;
    display: inline-block;
    margin-right: 2px;
}
#captures .text-area {
    width: 35%;
    text-align: right;
    padding-left: 20px;
}
#captures .text-area .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: #444;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
    margin-right: 50px;
}
#captures .text-area .sub-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: #d50a51;
    font-weight: 700;
    padding-bottom: 30px;
    text-transform: capitalize;
    margin-right: 60px;
}
#captures .text-area .details1 {
    width: 350px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    line-height: 26px;
    margin-left: 25px;
}
#captures .text-area .details2 {
    width: 350px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    line-height: 26px;
    margin-left: 25px;
    margin-top: 20px;
}
#captures .text-area .button {
    margin-top: 30px;
}
#captures .text-area .button a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #d50a51;
    display: inline-block;
    text-decoration: none;
    color: #d50a51;
    border-radius: 20px;
    margin-left: 10px;
    transition: .4s;
}
#captures .text-area .button a:hover {
    background: #d50a51;
    color: #fff;
}

/*==============================================================================================================
                                                captures end
================================================================================================================*/


/*==============================================================================================================
                                                counter-down start
================================================================================================================*/
#counter-down {
    background: url(../images/counter-bg.jpg) no-repeat;
    background: cover;
}
#counter-down .counter-down-flex {
    display: flex;
    justify-content: space-between;
}
#counter-down .counter-down-flex .items {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 15px 0;
}
#counter-down .counter-down-flex .items .img2 {
    margin-top: 18px;
}
#counter-down .counter-down-flex .items h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #d50a51;
    padding-top: 20px;
    margin-bottom: 0;
}
#counter-down .counter-down-flex .items span {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    color: #444;
}


/*==============================================================================================================
                                                counter-down end
================================================================================================================*/



/*==============================================================================================================
                                                slick-slide start
================================================================================================================*/

#slick-slide {
    margin: 50px 0px 140px 0px;
}
#slick-slide .client{
    background: #fffae2;
    padding: 40px 30px 20px 30px;
    margin-left: 20px;
}
#slick-slide .client .text-area .details {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 26px;
}
#slick-slide .client .img-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#slick-slide .client .img-area .img {
    width: 21%;
}
#slick-slide .client .img-area .img img{
    width: 100%;
}
#slick-slide .client .img-area .text {
    width: 79%;
}
#slick-slide .client .img-area .name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #222;
    text-transform: capitalize;
    margin: 25px 0px 0px 25px
}
#slick-slide .client .img-area .designation {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
    margin: 0px 0px 0px 25px
}
.prev {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #d50a51;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -250px;
    transform: translateX(-50%);
    z-index: 1;
    color: #d50a51;
}
.next {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #d50a51;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -250px;
    transform: translateX(-50%);
    z-index: 1;
    color: #d50a51;
}

.slick-dots {
    display: none !important;
}



/*==============================================================================================================
                                                slick-slide end
================================================================================================================*/


/*==============================================================================================================
                                                newsletter start
================================================================================================================*/
#newsletter {
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;
}
#newsletter .news-position {
    position: relative;
}
#newsletter .news-form{
    width: 100%;
    background: #d50a51;
    border-radius: 50px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -50px;
    left: 0;
}
#newsletter .news-form ul {
    list-style: none;
}
#newsletter .news-form ul li {
    display: inline-block;
}
#newsletter .news-form ul li .news-icon {
    font-size: 50px;
    margin-top: 8px;
    margin-right: 7px;
    color: #fff;
}
#newsletter .news-form ul li .news-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}
#newsletter .news-form ul li .news-sub-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 400;

}
#newsletter .news-form .name {
    margin-top: 15px;
}
#newsletter .news-form .name input {
    padding: 10px;
    background: transparent;
    color: #fff;
    border-radius: 0;
}
#newsletter .news-form .email {
    margin-top: 15px;
}
#newsletter .news-form .email input{
    padding: 10px;
    background: transparent;
    color: #fff;
    border-radius: 0;
}
#newsletter .news-form .email button {
    background: transparent;
} 
#newsletter .news-form .email button .submit {
    color: #fff;
    border-left: 1px solid #fff;
    line-height: 34px;
    width: 34px;
}
#newsletter .img-title {
    padding-top: 90px;
    text-align: center;
    margin-bottom: 30px;
}
#newsletter .items {
    display: flex;
    justify-content: space-around;
}
#newsletter .items .item {}
#newsletter .items .item ul {
    list-style: none;
}
#newsletter .items .item ul li{
    display: inline-block;
}
#newsletter .items .item ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #444;
    text-decoration: none;
    margin-left: 20px;
    line-height: 26px;
    
}
#newsletter .items .item ul li .icon-bg {
    width: 50px;
    height: 50px;
    background: #d50a51;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
}
#newsletter .title-text {}
#newsletter .title-text h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #d50a51;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
#newsletter .social-icon{
    text-align: center;
}
#newsletter .social-icon a i {
    width: 40px;
    height: 40px;
    border: 1px solid #d50a51;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #d50a51;
    font-size: 20px;
    margin-right: 10px;
    transition: .4s;
}
#newsletter .social-icon a i:hover {
    color: #fff;
    background: #d50a51;
}


/*==============================================================================================================
                                                newsletter end
================================================================================================================*/
/*==============================================================================================================
                                                footer start
================================================================================================================*/

#footer {
    background: #fffae2;
    padding: 20px 0;
    text-align: center;
}

#footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444444;
}
#footer p a{
    text-decoration: none;
    color: #d50a51;
}



/*==============================================================================================================
                                                footer end
================================================================================================================*/


















